{% extends "base.html" %}

{% block title %}For Loops{% endblock %}

{% block content %}
<style>
    td {
        padding: 8px;
    }

    .p-data {
        background-color: rgba(222, 222, 222, 0.3);
        padding-left: 4px;
        padding-right: 4px;
    }

    .border-table-datatype tr:nth-child(even) {
        background-color: #E7E9EB;
    }

    .border-table {
        margin: 20px 0;
        border: 1px solid #ccc;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        display: table;
    }

    .border-table-datatype th,
    .border-table-datatype td {
        padding: 8px 8px;
        display: table-cell;
        text-align: left;
        vertical-align: top;
        padding-left: 16px;
    }
</style>
<div class="">
    <div class="header space-y-3 py-4 px-5">
        <p class="text-4xl font-bold">Python For Loops 𓆏</p>
        <div style="margin-bottom: 0%;">
            <a href="{{ url_for('views.whileloops') }}" class="button-link ">
                <button class="btn btn-primary">Previous</button>
            </a>
            <a href="{{ url_for('views.functions') }}" class="button-link btn-primary float-right">
                <button class="btn btn-primary">Next</button>
            </a>
        </div>
    </div>
    <div class="px-12 pb-4">
        <hr class="my-4">
        <div class="content-1 space-y-3">
            <div class="content title">

                <style>
                    p:first-of-type {
                        margin-bottom: 20px;
                    }
                </style>

                <div class="text-3xl">For Loops</div>
            </div>
            <style>
                .boxed {
                    border: 1px solid black;
                    padding: 10px;
                    min-width: 300px;
                }
            </style>
            <div>
                <tr>
                    <code class="p-data">for</code>
                    <p>A <code class="p-data">for</code> loop iterates over a sequence, such as a list, tuple,
                        dictionary, set, or string.</p>
                    <p>Using a <code class="p-data">for</code> loop, you can execute a set of statements for each item
                        in a sequence.</p>
                </tr>
            </div>
        </div>

        <div>
            <div>
                <br>
            </div>
            <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
                <div class="text-xl mb-2">Example</div>
                <div class="text-md mb-3">Print each food in a food list:
                </div>
                <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                    <div><span class="text-black">food = [<span class="text-red-600">"nasi lemak"</span>, <span
                                class="text-red-600">"durian"</span>, <span class="text-red-600">"abc"</span>]</span>
                    </div>
                    <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in</span> food:</div>
                    <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;print</span>&#40;x&#41;</div>

                    <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
                </div>
            </div>
        </div><br>
        <div class="content-2 space-y-3">
            <div class="space-y-2">
                <p>The <code class="p-data">for</code> loop does not require an indexing variable to set beforehand.
                </p>
            </div>
            <hr>
            <div class="text-3xl">Looping Through a String</div>
            <div>
                <p>For loop can iterate every characters including white space for string:</p>
            </div>
            <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
                <div class="text-xl mb-2">Example</div>
                <div>
                    <p>It will print out H,E,L,L,O:</p>
                </div>
                <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                    <div><span class="text-blue-600">for</span> x <span class="text-blue-600"> in </span><span
                            class="text-red-600">"HELLO"</span> : </div>
                    <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;print</span><span
                            class="text-black">&#40;</span>x&#41;
                    </div>
                    <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="content-2 space-y-3">
            <div class="content title">
                <div class="text-3xl">The break Statement
                </div><br>
                <div class="space-y-2">
                    <p>The <code class="p-data">break</code> statement can stop the looped while running</p>
                </div>
            </div>
        </div>
        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>Exit the loop when <code class="p-data">x</code> is "banana". Below example will return apple only as
                    the loop will break at banna</p>
            </div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div>fruits = [<span class="text-red-600">"apple"</span>, <span class="text-red-600">"banana"</span>,
                    <span class="text-red-600">"cherry"</span>]
                </div>
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in</span> fruits:</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print</span><span
                        class="text-black"></span>&#40; x &#41;</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if</span> x == <span
                        class="text-red-600">"banana"</span> : </span>
                </div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class="text-blue-600">break</span></div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        <br>
        <!--
        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>Exit the loop when <code class="p-data">x</code> is "banana", but this time the break comes before
                    the print:</p>
            </div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div>fruits = [<span class="text-red-600">"apple"</span>, <span class="text-red-600">"banana"</span>,
                    <span class="text-red-600">"cherry"</span>]</div>
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in</span> fruits:</div>

                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if</span> x == <span
                        class="text-red-600">"banana"</span> : </span>
                </div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class="text-blue-600">break</span></div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print</span><span
                        class="text-black"></span>&#40; x &#41;</div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        -->

        <br>
        <div class="content title">
            <div class="text-3xl">The continue Statement
            </div><br>
            <div class="space-y-2">
                <p>With the <code class="p-data">continue</code> we can skip the current iteration and start next
                    iteration:</p>
            </div>
        </div>

        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>Do not print banana:</p>
            </div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div>fruits = [<span class="text-red-600">"apple"</span>, <span class="text-red-600">"banana"</span>,
                    <span class="text-red-600">"cherry"</span>]
                </div>
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in</span> fruits:</div>

                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if</span> x == <span
                        class="text-red-600">"banana"</span> : </span>
                </div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class="text-blue-600">continue</span></div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print</span><span
                        class="text-black"></span>&#40; x &#41;</div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="content title">
            <div class="text-3xl">The range() Function
            </div><br>
            <div class="space-y-2">
                <p><code class="p-data">range()</code> is use to determine the number of iteration of the loop</p>
                <p>It will start from 0 and by default increments by 1 and end until the specified number.</p>
            </div>
        </div>

        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>Using the range() function:</p>
            </div>

            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div>fruits = [<span class="text-red-600">"apple"</span>, <span class="text-red-600">"banana"</span>,
                    <span class="text-red-600">"cherry"</span>]
                </div>
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in range</span> &#40;<span
                        class="text-red-600">5</span>&#41;</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print </span><span
                        class="text-black"></span>&#40; x &#41;</div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        <br>

        <div style="background-color: #FFFACD; padding: 26px; border-radius: 5px;">
            Note that <code class="p-data">range(6)</code> is not the values of 0 to 6, but the values of 0 to 5.
        </div>
        <br>
        <div class="space-y-2">
            <p>You can specify the starting value by adding a parameter. For example: <code
                    class="p-data">range(3,7)</code> specifies the values from 2 to 6</p>
        </div>

        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>Using the start parameter:</p>
            </div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in range</span> &#40;<span
                        class="text-red-600">2</span>, <span class="text-red-600">6</span>&#41;:</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print </span><span
                        class="text-black"></span>&#40; x &#41;</div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        <br>

        <div class="space-y-2">
            <p>Besides, you can adjust increment value of<code class="p-data">range()</code> by adding a third
                parameter:
                <code class="p-data">range(2, 30, 3)</code>
            </p>
        </div>

        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>Using the increment parameter:</p>
            </div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in range</span> &#40;<span
                        class="text-red-600">2</span>, <span class="text-red-600">30</span>, <span
                        class="text-red-600">3</span>&#41;:</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print </span><span
                        class="text-black"></span>&#40; x &#41;</div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="content title">
            <div class="text-3xl">Else in For Loop
            </div><br>
            <div class="space-y-2">
                <p>The <code class="p-data">else</code> keyword in a <code class="p-data">for</code> loop specifies a
                    block of code to be executed when the loop is finished.</p>
            </div>
        </div>

        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>Show a message when the loop has ended</p>
            </div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in range</span> &#40;<span
                        class="text-red-600">3</span>&#41;</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print </span><span
                        class="text-black"></span>&#40; x &#41;</div>
                <div><span class="text-blue-600">else</span>:</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print</span>&#40;<span
                        class="text-red-600">"finished!"</span>&#41;</div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        <br>

        <div style="background-color: #FFFACD; padding: 26px; border-radius: 5px;">
            <b>Note:</b> The <code class="p-data">else</code> block will NOT be executed if the loop is stopped by a
            <code class="p-data">break</code> statement.
        </div>
        <br>


        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>The break block will stop the code running the else statment</p>
            </div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in range</span> &#40;<span
                        class="text-red-600">6</span>&#41; :</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if </span> x == <span
                        class="text-red-600">3</span>: <span class="text-blue-600"> break</span></div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print </span><span
                        class="text-black"></span>&#40; x &#41;</div>
                <div><span class="text-blue-600">else</span>:</div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print</span>&#40;<span
                        class="text-red-600">"Finally finished!"</span>&#41;</div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="content title">
            <div class="text-3xl">Nested Loops
            </div><br>
            <div class="space-y-2">
                <p>A nested loop is a loop inside a loop.</p>
                <p>The "inner loop"will be executed one time for each iteration of the "outer loop":</p>
                <br>
            </div>
        </div>

        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div>
                <p>Print each adjective for every fruit:</p>
            </div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div>adj = [<span class="text-red-600">"red"</span>, <span class="text-red-600">"big"</span>, <span
                        class="text-red-600">"tasty"</span>]</div>
                <div>fruits = [<span class="text-red-600">"apple"</span>, <span class="text-red-600">"banana"</span>,
                    <span class="text-red-600">"cherry"</span>]
                </div>
                <br>
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in </span>adj:</div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-blue-600">for</span> y <span
                        class="text-blue-600">in </span>fruits:</div>
                <div><span
                        class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print</span>&#40;x,
                    y&#41;</div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="content title">
            <div class="text-3xl">The pass Statement
            </div><br>
            <div class="space-y-2">
                <p><code class="p-data">for</code> function can be no content for specified reason if you add <code
                        class="p-data">pass</code>keyword.
                <p></p>

            </div>
        </div>

        <div class=" rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
            <div class="text-xl mb-2">Example</div>
            <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                <div><span class="text-blue-600">for</span> x <span class="text-blue-600">in [</span><span
                        class="text-red-600">0</span>,
                    <span class="text-red-600">1</span>, <span class="text-red-600">2</span>] :
                </div>
                <div><span class="text-blue-600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pass</span></div>
                <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
            </div>

        </div>
        <br>
        <div style="margin-bottom: 0%;">
            <a href="{{ url_for('views.whileloops') }}" class="button-link ">
                <button class="btn btn-primary">Previous</button>
            </a>
            <a href="{{ url_for('views.functions') }}" class="button-link btn-primary float-right">
                <button class="btn btn-primary">Next</button>
            </a>
        </div>
        <style>
            .exerciseprecontainer {
                background-color: #f2f2f2;
                /* Grey background color */
                padding: 10px;
                /* Add padding for spacing */
            }
        </style>
        <br>
        <div class="content-3 space-y-3 rounded-lg p-4" style="background-color: #2f2f2f;">
            <div class="text-3xl text-white mb-2">Test Yourself With Exercises</div>
            <form id="exercise-form" autocomplete="off">
                <div class="exercisewindow" style="background-color: white; padding: 20px; border-radius: 8px;">
                    <h2 class="text-black" style="font-size: 2em;">Exercise:</h2>
                    <p class="text-black">Loop through the items in the <code class="w3-codespan">fruits</code> list
                        and
                        print each item.</p>
                    <div class="exerciseprecontainer">
                        <pre>fruits = ["apple", "banana", "cherry"]</pre>
                        <pre>
        a) 
        for x in fruits:
            print(x)
        
        b) 
        for fruits in x:
            print(x)
        
        c) 
        for x in fruits:
        print(x)
        
        d) 
        for x fruits:
            print(x)
                        </pre>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="radio" name="exercise-answer" id="optionA" value="a">
                        <label class="text-black" for="optionA">a)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exercise-answer" id="optionB" value="b">
                        <label class="text-black" for="optionB">b)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exercise-answer" id="optionC" value="c">
                        <label class="text-black" for="optionC">c)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exercise-answer" id="optionD" value="d">
                        <label class="text-black" for="optionD">d)</label>
                    </div>
                    <button type="button" onclick="checkAnswer()" class="btn btn-success mt-3">Submit Answer
                        »</button>
                    <p id="exercise-feedback" class="text-red-600 mt-2"></p>
                </div>
            </form>
        </div>

        <script>
            function checkAnswer() {
                var userAnswer = document.querySelector('input[name="exercise-answer"]:checked').value;
                var correctAnswer = "a";

                if (userAnswer === correctAnswer) {
                    document.getElementById('exercise-feedback').innerHTML = "Correct!";
                    document.getElementById('exercise-feedback').classList.remove('text-red-600');
                    document.getElementById('exercise-feedback').classList.add('text-green-600');
                } else {
                    document.getElementById('exercise-feedback').innerHTML = "Incorrect. Try again!";
                    document.getElementById('exercise-feedback').classList.remove('text-green-600');
                    document.getElementById('exercise-feedback').classList.add('text-red-600');
                    sendChat(`fruits = ["apple", "banana", "cherry"]
        a) 
        for x in fruits:
            print(x)
        
        b) 
        for fruits in x:
            print(x)
        
        c) 
        for x in fruits:
        print(x)
        
        d) 
        for x fruits:
            print(x)`);
                }
            }

            function sendChat(message) {
                // Implement the sendChat function to handle the message
                console.log(message); // For demonstration purposes
            }
        </script>





    </div>
</div>
{% endblock %}