{% extends "base.html" %}

{% block title %}Modify Strings{% endblock %}

{% block content %}
<!-- Writee our mian content here -->
<div>
    <div class="header space-y-3 py-4 px-5">
        <p class="text-4xl font-bold">Python - Modify Strings</p>
        <!--<button type="button" class="btn btn-primary" onclick="redirectToPrevious()">Previous</button>
        <button type="button" class="btn btn-primary float-right" onclick="redirectToNext()">Next</button>-->
        <div style="margin-bottom: 0%;">
            <a href="{{ url_for('views.slicingStrings') }}" class="button-link ">
                <button class="btn btn-primary">Previous</button>
            </a>
            <a href="{{ url_for('views.concatenateStrings') }}" class="button-link btn-primary float-right">
                <button class="btn btn-primary">Next</button>
            </a>
        </div>

    </div>
    <div class="px-12 pb-4">

        <hr class="my-4">
        <div class="content-1 space-y-3">
            Python provides a collection of built-in methods specifically designed for string manipulation.
        </div>

        <hr class="my-4">
        <div class="content-2 space-y-3">
            <div class="content title">
                <div class="text-3xl">Upper Case</div><br>
            </div>
            <div class="rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
                <div class="text-xl mb-2">Example</div>
                <div>The <span class="text-red-600"> upper() </span>function converts the string to uppercase:</div>
                <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                    <div>a = <span class="text-red-600">"Hello, World!"</span></div>
                    <div><span class="text-blue-600">print</span>(a.upper())</div>

                    <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
                </div>

            </div>
        </div>
        <hr class="my-4">
        <div class="content-2 space-y-3">
            <div class="content title">
                <div class="text-3xl">Lower Case</div><br>
            </div>
            <div class="rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
                <div class="text-xl mb-2">Example</div>
                <div>The <span class="text-red-600"> lower() </span>function converts the string to lowercase:</div>
                <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                    <div>a = <span class="text-red-600">"Hello, World!"</span></div>
                    <div><span class="text-blue-600">print</span>(a.lower())</div>

                    <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
                </div>

            </div>
        </div>
        <hr class="my-4">
        <div class="content-2 space-y-3">
            <div class="content title">
                <div class="text-3xl">Remove Whitespace</div><br>
            </div>
            <div>Whitespace refers to the space before and/or after the actual text, which you often need to eliminate.
            </div>
            <div class="rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
                <div class="text-xl mb-2">Example</div>
                <div>The <span class="text-red-600"> strip() </span>method eliminates any whitespace from the start or
                    end:</div>
                <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                    <div>a = <span class="text-red-600">"Hello, World!"</span></div>
                    <div><span class="text-blue-600">print</span>(a.strip()) <span class="text-green-800"># returns
                            "Hello, World!"</span></div>

                    <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
                </div>

            </div>
        </div>
        <hr class="my-4">
        <div class="content-2 space-y-3">
            <div class="content title">
                <div class="text-3xl">Replace String</div><br>
            </div>
            <div class="rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
                <div class="text-xl mb-2">Example</div>
                <div>The <span class="text-red-600"> replace() </span>method substitutes one string with another:</div>
                <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                    <div>a = <span class="text-red-600">"Hello, World!"</span></div>
                    <div><span class="text-blue-600">print</span>(a.replace( <span class="text-red-800">
                            "H"</span>,<span class="text-red-800"> "J" </span>)) </span></div>

                    <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
                </div>

            </div>
        </div>
        <hr class="my-4">
        <div class="content-2 space-y-3">
            <div class="content title">
                <div class="text-3xl">Split String</div><br>
            </div>
            <div>The <span class="text-red-600"> split()</span> method generates a list where the text separated by the
                specified separator forms the list items.</div>
            <div class="rounded-lg bg-slate-300 p-3 w-full h-auto mt-2">
                <div class="text-xl mb-2">Example</div>
                <div>The <span class="text-red-600"> split() </span>method divides the string into substrings whenever
                    it encounters occurrences of the separator:</div>
                <div class="bg-white w-full p-2 pl-3 flex flex-col relative">
                    <div>a = <span class="text-red-600">"Hello, World!"</span></div>
                    <div><span class="text-blue-600">print</span>(a.split( ",")) </span><span class="text-green-800">#
                            returns ['Hello', 'World!']</span></div>

                    <div class="absolute top-0 left-0 bg-green-300 p-0.5 h-full"></div>
                </div>

            </div>
            <div style="margin-bottom: 0%;">
                <a href="{{ url_for('views.slicingStrings') }}" class="button-link ">
                    <button class="btn btn-primary">Previous</button>
                </a>
                <a href="{{ url_for('views.concatenateStrings') }}" class="button-link btn-primary float-right">
                    <button class="btn btn-primary">Next</button>
                </a>
            </div>
        </div>

    </div>


</div>
<!-- Chat Content -->
{% endblock %}